.about {
  padding: 80px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 726px 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "images title"
    "images text"
    "images textStrong"
    "images textDown"
    "images btn";
  column-gap: 44px;
}

.images {
  grid-area: images;
  position: relative;
  text-align: right;
}

.smallImg {
  position: absolute;
  left: 0;
  top: 90px;

  width: 370px;
  height: 347px;
  background-color: #f3f5f7;
  object-fit: cover;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  grid-area: title;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 46px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: #122952;
}

.text {
  grid-area: text;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.55;
  color: #4d526c;
}

.textStrong {
  grid-area: textStrong;
  margin: 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: -0.02em;
  color: #122952;
}

.textDown {
  grid-area: textDown;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.55;
  color: #4d526c;
  margin-bottom: 40px;
}

.btn {
  grid-area: btn;
  max-width: 149px;
  padding: 20px 30px;
  height: 60px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.iconArrow {
  min-width: 5px;
  min-height: 8px;
}

@media (max-width: 1279px) {
  .about {
    padding: 60px 0;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "title"
      "text"
      "images"
      "textStrong"
      "textDown"
      "btn";
    column-gap: 0px;
    row-gap: 30px;
  }

  .content {
    width: 100%;
  }
  .title {
    margin-bottom: 0px;
    font-size: 36px;
  }

  .textStrong {
    margin: 0;
    max-width: 430px;
  }
  .textDown {
    margin-bottom: 0;
  }
}
