.cartList {
  width: 100%;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.card {
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 24px;
  border-radius: 10px;
  border: 2px solid #e6eaee;
  box-shadow: 0 4px 50px 0 rgba(102, 112, 133, 0.2);
}

.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.info {
  flex-grow: 1;
}

.infoTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #122952;
}

.infoArticle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.55;
  color: #4d526c;
}
.controls {
  width: 300px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.quantity {
  width: 120px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.btn {
  min-width: 30px;
  min-height: 30px;
  border-radius: 100%;
  color: #fff;
  background-color: #213f74;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #122952;
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.55;
  text-align: center;
  color: #122952;
  background-color: transparent;
}

.price {
  width: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #122952;
  white-space: nowrap;
}

.del {
  min-width: 20px;
  min-height: 20px;
  position: relative;
}

.del::before,
.del::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background-color: #4d526c;
  transition: background-color 0.2s;
}
.del::before {
  transform: rotate(45deg);
}
.del::after {
  transform: rotate(-45deg);
}

.del:hover::before,
.del:hover::after {
  background-color: #213f74;
}
