.priceRange {
  margin-bottom: 40px;
}

.title {
  padding: 15px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: #122952;
  border-top: 1px solid #cfd8de;
}

.prices {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  border: 1px solid #e5e9ec;
  background-color: #fff;
  border-radius: 50px;
  width: 124px;
  height: 38px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: #213f74;
}

.range {
  width: 100%;
  height: 3px;
  background-color: #cfd8de;
  position: relative;
}

.line {
  position: absolute;
  background-color: #213f74;
  height: 3px;
  transition: left 0.2s, right 0.2s;
}

.min,
.max {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #30518a;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: left 0.2s, right 0.2s;
}

.min::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #213f74;
  border-radius: 100%;
}

.min {
  /* left: 10%; */
}

.max {
  /* right: 10%; */
}
