.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}

.checkboxCastom {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.55;
  /* color: rgba(255, 255, 255, 0.7); */
  display: flex;
  align-items: center;
  column-gap: 10px;
  user-select: none;
  cursor: pointer;
}

.checkboxIcon {
  width: 14px;
  height: 14px;
  /* color: rgba(255, 255, 255, 0.7); */
}

.checkboxIcon path {
  opacity: 0;
  transition: opacity 0.2s;
}

.checkboxIconActive path {
  opacity: 1;
}
