.presence {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.55;
  color: #797d91;
}

.presenceYes {
  color: #11d25e;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.presenceNo {
  color: #797d91;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.size {
  width: 16px;
  height: 16px;
}

@media (max-width: 1279px) {
  .presence {
    column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .presence {
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 8px;
    font-size: 10px;
  }
}
