.stocks {
  background-color: #fff;
  max-width: 1495px;
  padding: 0 20px;
  margin: 0 auto;
  border-radius: 10px;
}

.wrapper {
  padding: 60px 20px 50px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 46px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: #122952;
}

.btn {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.iconArrow {
  width: 5px;
  height: 8px;
}

.list {
  display: flex;
  gap: 24px;
  padding-bottom: 10px;
}

.item {
  width: 416px;
  flex: 0 1 auto;
}

@media (max-width: 1279px) {
  .wrapper {
    padding: 48px 0px 50px;
  }
  .stocks {
    width: 100%;
    border-radius: 0px;
  }

  .header {
    margin-bottom: 30px;
  }

  .title {
    font-size: 36px;
  }

  .list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .item {
    width: 40%;
    flex: 1 0 auto;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }
  .btn {
    padding: 17px 25px;
  }

  .list {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    column-gap: 12px;
  }

  .item {
    width: 237px;
    flex: 0 0 auto;
  }
}
