.search {
  position: relative;
  width: 100%;
  margin: 0 14px 0 0;
}

.from {
}

.label {
  padding: 15px 20px;

  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

  background-color: #f3f5f7;
  border: 1px solid #e5e9ec;
  border-radius: 46px;
  transition: border 0.2s;
}

.labelActive,
.label:hover {
  border: 1px solid #c8d2dc;
}

.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45;
  color: #00072d;
  width: 100%;
  background-color: #f3f5f7;
  border-radius: 46px;
}

.input::placeholder {
  color: rgba(0, 7, 45, 0.4);
}

.searchIcon {
  width: 24px;
  height: 24px;
  color: #213f74;
  cursor: pointer;
}

.btnMobile {
  display: none;
}

.list {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #213f74;
  box-shadow: 0 4px 50px 0 rgba(102, 112, 133, 0.2);
  background: #fff;
  z-index: 51;
}

.item {
  padding-top: 20px;
}

.link {
  padding: 10px 0 5px;
  display: flex;
  column-gap: 15px;
  border-bottom: 1px solid #e6eaee;
}

.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: #122952;
}

.price {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.35;
  color: #122952;
}

.btn {
  padding: 20px 30px;
}

.iconArrow {
  width: 5px;
  height: 8px;
  color: #fff;
}

@media (max-width: 1279px) {
  .from {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 767px) {
  .from {
    display: none;
  }

  .btnMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 1px solid #e5e9ec;
    border-radius: 37px;
    width: 40px;
    height: 40px;
    background-color: #f3f5f7;

    transition: background-color 0.2s;
  }

  .searchIcon {
    width: 19px;
    height: 19px;
  }
}
