.button {
  width: 50px;
  height: 50px;
  border-radius: 37px;
  background-color: #213f74;
  position: relative;
}

.button:hover {
  background-color: #003690;
}

.lineTop,
.lineMedium,
.lineBottom {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  left: 15px;
}

.lineTop {
  top: 30px;
  transform: rotate(0eg);
  transition: transform 0.2s;
}

.lineMedium {
  top: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.lineBottom {
  bottom: 30px;
  transform: rotate(0eg);
  transition: transform 0.2s;
}

.lineTop.open {
  top: 24px;
  transform: rotate(-45deg);
}

.lineMedium.open {
  transform: scale(0);
}

.lineBottom.open {
  top: 24px;
  transform: rotate(45deg);
}

@media (max-width: 767px) {
  .button {
    width: 40px;
    height: 40px;
  }
  .lineTop,
  .lineMedium,
  .lineBottom {
    width: 16px;
    height: 1px;
    left: 12px;
  }

  .lineTop {
    top: 24px;
  }

  .lineMedium {
    top: 19px;
  }

  .lineBottom {
    bottom: 25px;
  }

  .lineTop.open {
    top: 20px;
  }

  .lineBottom.open {
    top: 20px;
  }
}
