.card {
  display: flex;
}

.link {
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;
}

.link:hover {
  box-shadow: 0 4px 50px 0 rgba(102, 112, 133, 0.2);
}

.img {
  margin: 0 auto 12px;
  width: 266px;
  height: 266px;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.info {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: #122952;
}

.collection {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.55;
  color: #4d526c;
}

.price {
  margin-top: auto;
}

@media (max-width: 1279px) {
  .img {
    margin: 0 auto 10px;
  }
}

@media (max-width: 767px) {
  .link {
    padding: 10px;
  }
  .img {
    margin: 0 auto 8px;
    max-width: 134px;
    max-height: 134px;
  }
  .title,
  .collection {
    font-size: 12px;
  }
}
