.footer {
  background-color: #fff;
}

.up {
  padding: 80px 20px;
}

.wrapper,
.wrapperCopy {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 0 24px;
}

.logo {
  grid-column: 1 / 4;
  grid-row: 1/2;
}

.linkWhatsapp {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.logoImg {
  width: 160px;
  height: 97px;
  object-fit: cover;
}

.linkWhatsapp {
  max-width: 217px;
  padding: 20px;

  white-space: nowrap;

  display: flex;
  align-items: center;
  column-gap: 6px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.35;
  color: #213f74;

  background-color: #f3f5f7;
  border: 1px solid #e5e9ec;
  border-radius: 50px;

  transition: border 0.2s, background-color 0.2s;
}

.linkWhatsapp:hover {
  border: 1px solid #e5e9ec;
  background-color: #e7edf5;
}

.whatsapp {
  min-width: 20px;
  min-height: 20px;
}

.navFirst {
  grid-column: 4 / 6;
  grid-row: 1/3;
}

.title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(77, 82, 108, 0.5);
}

.itemNav {
  margin-bottom: 15px;
}

.itemNav:last-child {
  margin-bottom: 0px;
}

.linkNav {
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.35;
  color: rgba(0, 7, 45, 0.8);
  transition: color 0.2s;
}

.linkNav:hover {
  color: #002d79;
}

.navSecond {
  grid-column: 6 / 9;
  grid-row: 1/3;
}

.feedback {
  grid-column: 9 / 12;
  grid-row: 1/2;
}
.address {
  grid-column: 9 / 12;
  grid-row: 2 / 3;
}

.feedbackText {
  width: 333px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: #122952;
}

.form {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #e5e9ec;
  border-radius: 46px;
  transition: border 0.2s;
}

.form:hover {
  border: 1px solid #c8d2dc;
}
.formActive {
  border: 1px solid #c8d2dc;
}

.label {
  padding: 20px;
}

.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45;
  color: #00072d;
}

.input::placeholder {
  color: rgba(0, 7, 45, 0.4);
}

.button {
  margin-left: 20px;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  color: #fff;

  display: flex;
  align-items: center;
  column-gap: 8px;
}

.iconArrow {
  width: 5px;
  height: 8px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.35;
  color: rgba(33, 63, 116, 0.8);
}

.phone {
  margin-bottom: 7px;
  display: inline-block;
  font-weight: 600;
  font-size: 29px;
  line-height: 1.35;
  letter-spacing: -0.04em;
  color: #213f74;
  transition: color 0.2s;
}

.phone:hover {
  color: #003690;
}

.addressIconWrapper {
  display: flex;
  align-items: baseline;
  column-gap: 8px;
}

.addressIcon {
  min-width: 10px;
  min-height: 12px;
}

/* copyrights */
.copyrights {
  padding: 10px 0;
}

.copyText {
  grid-column: 1 / 4;
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.35;
  color: #7f8295;
}

.copyLink {
  grid-column: 4 / 6;
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.35;
  color: rgba(0, 7, 45, 0.8);
  transition: color 0.2s;
}

.copyLinkSecond {
  grid-column: 6 / 9;
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.35;
  color: rgba(0, 7, 45, 0.8);
  transition: color 0.2s;
}

.copyLink:hover,
.copyLinkSecond:hover {
  color: #002d79;
}

@media (max-width: 1279px) {
  .up {
    padding: 60px 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 20px;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .navFirst {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .navSecond {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .linkWhatsapp {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 60px;
    align-self: flex-end;
  }

  .feedback {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .title {
    margin-bottom: 20px;
  }

  .feedbackWrapper {
    display: flex;
    flex-direction: column;
  }

  .phone {
    order: 1;
    font-size: 26px;
  }
  .addressIconWrapper {
    max-width: 190px;
  }

  .feedbackText {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .form {
    margin-bottom: 0px;
  }

  .wrapperCopy {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 10px;
  }

  .copyText {
    grid-column: 1 / 2;
    font-size: 14px;
  }
  .copyLink {
    grid-column: 2 / 3;
    font-size: 14px;
  }
  .copyLinkSecond {
    grid-column: 3 / 4;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .up {
    padding: 60px 20px 30px;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 10px;
  }
  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 30px;
  }
  .navFirst {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .navSecond {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .feedback {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: 30px;
  }

  .address {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    margin-bottom: 15px;
  }
  .linkWhatsapp {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    height: 54px;
  }

  .logoImg {
    width: 130px;
    height: 78px;
  }

  .title {
    font-size: 16px;
  }
  .list {
    margin-bottom: 30px;
  }

  .itemNav {
    margin-bottom: 10px;
  }

  .linkNav {
    font-size: 14px;
  }
  .feedbackText {
    max-width: 295px;
  }
  .button {
    margin-left: 0;
    border-radius: 100%;
    max-width: 54px;
    max-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    padding: 17px 20px;
  }

  input {
    width: 100%;
  }
  .iconArrow {
    min-width: 8px;
    min-height: 14px;
  }
  .phone {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }
  .addressIconWrapper {
    font-size: 14px;
    max-width: 100%;
  }

  .copyrights {
    padding: 15px 0;
  }

  .wrapperCopy {
    grid-template-columns: 1fr;
    grid-gap: 6px 0px;
  }
  .copyText {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 12px;
  }
  .copyLink {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 12px;
  }
  .copyLinkSecond {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 12px;
  }
}
