.delivery {
  margin-bottom: 80px;
}

.deliveryTitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #122952;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.input {
  border-radius: 46px;
  padding: 20px;
  border: 1px solid #e5e9ec;
  background-color: #f3f5f7;
  width: 100%;
  transition: border 0.2s;
  color: #00072d;
}

.input:focus,
.input:active,
.input:hover {
  border: 1px solid #c8d2dc;
}

.inputError,
.inputError:hover,
.inputError:focus,
.inputError:active {
  border: 1px solid #f00;
}
