.slider {
  padding-bottom: 80px;
}

.title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #122952;
}

.sliderWrapper {
  margin-bottom: 80px;
  display: grid;
  align-items: center;
  justify-self: center;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 1fr;
  gap: 24px;
}

.sliderContainer {
  overflow: hidden;
  border-radius: 10px;
}

.sliderList {
  display: flex;
  column-gap: 24px;

  flex-wrap: nowrap;
  /* overflow: hidden; */
  transition: transform 0.3s;
}
.item {
  display: flex;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c6bcb2;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #b0a69b;
}

.arrow,
.arrowLeft {
  color: #fff;
  width: 7px;
  height: 12px;
}

.arrowLeft {
  transform: rotate(180deg);
}

.wrapperBubbleList {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
